@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@media (max-width: 1300px) {
    .main-container {
        background-attachment: scroll;
        border: 2px solid red;
    }
}

/* Need to move this behavior to JS for the future */

@media screen and (max-width: 992px) {
    .middle, .footer-container {
        flex-direction: column;
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }
    .middle-text>p {
        text-align: justify;
    }
}

* {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5em;
}

.main-text>p {
    font-size: 1.1em;
}

/* Sticky and always on top navigation bar  */

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.head-container {
    background: white;
    height: 110px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
}

.head-logo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    max-width: 360px;
}

img.head-logo {
    width: 100%;
}

.head-menu-container {
    font-size: .8em;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.head-menu {
    width: 100%;
    height: 100%;
    min-height: 80px;
    min-width: 95px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background .5s linear;
    -moz-transition: background .5s linear;
    -o-transition: background .5s linear;
    transition: background .5s linear;
    background: white;
}

.head-menu:hover {
    border: 1px solid grey;
    background: rgb(54, 173, 240);
}

.middle-menu {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

img.logo {
    width: 320px;
    display: flex;
}

.main-container {
    background: url("images/backgroundm.png");
    height: 120vh;
    max-height: 800px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-slide-down 1s ease-out forwards;
}

/* Hack to avoid the overflow on the scroll for a sticky navigation bar */

#skills, #about {
    padding-top: 70px;
    margin-top: -70px;
}

.about-container {
    background: white;
    height: 75vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.skills-container {
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Background color for skills section */

.backgroundColor {
    background: rgb(54, 173, 240);
    height: 75vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
}

.main-text {
    color: white;
    width: 350px;
    text-align: center;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    animation: fade-slide-up 3s ease-out;
}

.fab, .fas {
    font-size: 4.5em;
    color: rgb(54, 173, 240);
}

/* .fa-linkedin:hover, .fa-facebook:hover, .fa-github:hover {
    font-size: 5.5em;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear; //make a box for each languague icon
}  Pending to finish details of transitions*/

.footer-container {
    width: 100%;
    min-height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: grey;
    padding-top: 20px;
}

.social-media-size {
    font-size: 0.5em;
}

/* Line after my name */

.main-text h1::after {
    content: " ";
    display: inline-block;
    height: 3px;
    margin: 0 45px;
    position: absolute;
    top: 32%;
    width: 40px;
    zoom: 1;
    background: white;
    left: 90%;
}

/* Line before my name */

.main-text h1::before {
    content: " ";
    right: 90%;
    display: inline-block;
    height: 3px;
    margin: 0 45px;
    position: absolute;
    top: 32%;
    width: 40px;
    zoom: 1;
    background: white;
}

/* .social-media-size {
    width: 80px;
    height: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: auto;
} Pending to finish hover transitions on social media buttons */

/* Effect to fade slide down */

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/* Effect to face slide up  */

@keyframes fade-slide-up {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(90px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
